html {
    background: #E0E5E8;
}

header {

    line-height: 0.3;
    text-align: center;
    color: white;
    font-family: 'Patua One', 'sans serif';
    background-color: rgba(10,13,23,.85);
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 80px;
}

footer > a {
	text-decoration: none;
	font-family:'Roboto';
	color:white;
	position:absolute;
	left:20px;
	bottom:40px;
}





.buttons > a:hover {
	background-color: rgba(28,36,64,1);
	box-shadow: 10px 10px 10px rgba(10,13,23,.8);
}



form {
	margin:auto;
	margin-top: 200px;
	width:600px;
	padding:20px;
	border:2px solid black;
	border-radius: 20px;

}

form div + div {
	margin:20px;
}

label {
	font-family: 'Roboto';
	font-size: 1.3em;
    display: inline-block;
    width: 100px;
	text-align: right;
}

input, textarea {
	font-family: 'Roboto';
	font-size: 1em;
	width: 400px;
	border:1px solid black;
}

textarea {
	height: 200px;
	vertical-align: top;
}

button {
	margin-left: 110px;
	font-family: 'Roboto';
	font-size: 1.3em

}

.wrapper{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.background_img {
	position: fixed;
    top: -8.5em;
    width: 130em;
    height: 85em;
 
}

.title {
    width:1800px;
	font-size: 3.5em;
	letter-spacing: 0.3em;

}

.subtitle {
	   width:1800px;
       font-size: 1.5em;
       letter-spacing: 0.2em;
}

.intro {
	font-family: 'Roboto', 'Sans serif';
	font-size:1.5em;
	position: absolute;
	left:380px;
	width: 1200px;

}

.mypic {
	border: 4px solid black;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 40px;
    height: 14em;
    width: 16em;
    box-shadow: 10px 10px 10px rgba(10,13,23,.6);
}

.content {

	position:absolute;
    width: 1830px;
	top:150px;
  
  
  
}

.content > p {
	font-family: 'Roboto';
  	font-size: 1.5em;
	margin-left: 3em;
 
}

.first_p {
   margin-top: 8em;
    
}

.foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(10,13,23,.85);
}


.buttons {
	position: absolute;
    top: 30em;
    left:3em;
    width: 113em;
  
   	
}


.bigbutton {
    font-family: 'Patua One';
    font-size: 3em;
    text-decoration: none;
    color: white;
    letter-spacing: .1em;
    display: inline;
    margin: 30px;
    border: 4px solid black;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(28,36,64,.9);
    box-shadow: 10px 10px 10px rgba(10,13,23,.7);
}
	
} 





.social {
	display:inline;
	padding:20px;
}

.smlinks {
	position:absolute;
	bottom:0px;
	right:0px;
	margin:1.5em; 

}

.name {
	position: relative;
	left:20px;
}
