#container {
	height: 100%;
	width: 100%;
	position:relative;
	background: #0075BD;
}

header {
   line-height: 0.3;
   text-align: center;
   color:white;
   font-family: 'Patua One', 'sans serif';
   background:#004570;
   padding:10px;
}

.title {

	font-size: 3.5em;
	letter-spacing: 0.3em;

}

.subtitle {
       font-size: 1.5em;
       letter-spacing: 0.2em;
}

.intro {
	font-family: 'Roboto', 'Sans serif';
	font-size:1.8em;
	position: absolute;
	left:340px;

}

#mypic {
	border:4px solid black;
	border-radius: 20px;
	position:absolute;
	top:20px;
	left:40px;
	height: 250px;
	width: 250px;

}

#content {
   padding:10px;
   padding-bottom:60px; 
   background: #0075BD; 
}

#foot {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;  
   background:#004570;
}

#buttons {
	margin-top:100px;
	margin-bottom: 100px;
    vertical-align: middle;
   	
}

.bigbutton {
	font-family: 'Roboto';
	text-decoration: none;
	font-size: 3em;
	display:inline;
	margin:50px;
	border:6px solid black;
	border-radius: 50px;
	padding:50px;
	background-color:#2B7488;
} 

.social {
	display:inline;
	padding:10px;
}