footer {
  position:relative;
  bottom:0px;
  width:100%;
  height:10em;
  color: white;
  background-color: #2D2C2E;
}

body {
  margin-top: 70px;
}

p {
  font-family: 'PT Serif', serif;
}

.image {
  /*margin-top: -1.5em;*/
  background-color: #e7e6e4;
  width:100%;
  height: 750px;
}

.carousel-div {
  height: 40em;
  width: 38em;
  margin:auto;
  margin-top: 3em;
}

.carousel-div > h1 {
  font-family: 'Lato', sans-serif;
}

.carousel {
  background-color: rgba(0,0,0,0.8);
  color: white;
  height: 750px;
  margin-top: -2em;
}

.carousel-text {
  color: white;
  font-size: 2em;
  width:20em;
  margin:auto;
  margin-top: 10em;
}

.carousel-img {
  display: block;
  position: absolute;
  margin-left: 4em;
  width:32em;
  height:18em;
  opacity: 1;
  cursor: pointer;
}

.dropdown-img {
  display:block;
  position: absolute;
  width:16em;
  height:9em;
  opacity: 1;
  cursor: pointer;
}

.embed-responsive {
  display:none;
}


.glyph {
  width:8em;
  -webkit-filter: invert(.9); 
    filter: invert(.9);
}

.reveal {
  display:none;
}
.row  {
  margin:auto;
}
.reason {
  height: 20em;
  width:80%;
  margin:auto;
  font-family: 'Lato', sans-serif;
  color:#e6e6e6;
  padding: 1em;
  margin-bottom: 2em;
  text-align: center;
  background-color: #7A7A79;
  border-radius: 5em;

}

.reason:hover .spotlight {
  box-shadow: 0px 0px 190px 100px #2D2C2E;
}

.spotlight {
  width: 0px;
  height: 0px;
  position: relative;
  left: 14em;
  top: 4em;
  transition: box-shadow 0.5s;
}

.small-link-img {
  height: 2em;
  width:2em;
  margin:1em;
  cursor: pointer;
}

.slide {
  position:relative;
  font-family: 'PT Serif', serif;
  padding-top: 2em;
}

.slide > h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
}

.vanish {
  transition: opacity 1s;
}


.vanish:hover { 
  opacity: 0;
}

.navbar {
  position: fixed;
  width:100%;
  top: 0px;
  height: 70px;
  background-color: #2D2C2E;
  z-index: 2;
  border: none;
}

.navbar-nav>li>a {
  color:#e7e6e4;
  /*background-color: #2D2C2E;*/
  padding:1em;
  width:10em;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
}

.navbar-nav>li {
  background:#2D2C2E;
  width:10em;
}

.navbar-nav>li>a:hover {
  color:#7A7A79;
}

.heading {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
}

.main-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 7em;
  line-height: 1em;
}

.subheading {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

.close-img {
  position: absolute;
  top:2em;
  right:2em;
  width:2em;
  -webkit-filter: invert(1); 
    filter: invert(1);
  cursor: pointer;
}

.clickable {
  cursor:pointer;
}

.media{
  display:none;
  width:auto;
}

.popup {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin:auto;
}

.embed-responsive {
  width:48em;
}

.rotatingText{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color:#784387;
}

#reasons {
  padding-top: 3em
}

#gameCanvas {
  min-width: 640px;
  min-height: 360px;
  border:2px solid black;
  background-color: #51ABE8;
}

#gameInstructions {
  position: absolute;
  font-size: 1.5em;
  color: white;
  text-align: center;
  width:60%;
  left:20%;
  top:5%;
}

#cookieimgs {
  position: relative;
  width:10em;
  margin:auto;
}

#bounceIn {
  color:#784387;
}

#flipInX {
  color:#6CF5B2;
}

#zoomIn {
  color:#11AAFF;
}

#rubberBand {
 color:#B84040;
}

#johnny {
  width:500px;
}


#projects-arrow {
  display: none;
  content: " ";
  position:absolute;
  bottom:-11px;
  left:42px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right:10px solid transparent;
  border-bottom: 10px solid #A1A19F;
}

#projects-dropdown {
  display: none;
  position: fixed;
  width: 100%;
  top: 5em;
  left: 0px;
  z-index: 1;
  background-color: #A1A19F;
  height: 16em;

}

#projects:hover ~ #projects-dropdown {
  top:5em;
}


#projects-dropdown >ul {
  list-style: none;
}

#projects-dropdown >ul > li {
  display: inline-block;
  margin-left:10em; 
}

#slide_1 {
  background: url(./imgs/imageScaled.jpg);
  background-color: #e7e6e4;
  background-repeat: no-repeat;
  background-position: right bottom;

  background-attachment: fixed;
}

#slide_2 {  
  width:100%;
  min-height:650px;
  padding:6em;
  background-color: #7A7A79;
}

#slide_2 > p {
  font-size: 2em;
}

#slide_3 {
  background: url(./imgs/code.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

#slide_4 {
  background-color: #7A7A79;
}

#title-div {
  position:relative;
  width:36em;
  left:15%;
  top:25%;
  border-top: 4px solid;
  border-bottom: 4px solid;
}


#media-display {
  position:fixed;
  top:10%;
  left:10%;
  display:none;
  z-index: 3;
  height: 80%;
  width:80%;

  background-color:rgba(0,0,0,0.8);
}


#contact {
  padding-top: 2em;
  padding-left: 2em;
}

#contact > a {
  color: white;
}

#social-links {
  position: absolute;
  top:3em;
  right:2em;
}

#vidframe {
  max-height: 30em;
  top: 50%;
  transform: translateY(-50%);
  
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    margin-top:5em;
  }

  .navbar-nav>li> {
  color:#e7e6e4;
  background-color: #2D2C2E;
  width: 10em;
  margin:0px;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  }

  #projects-dropdown {
    position: fixed;
    top:5em;
    left:10em;
    width:50%;
    min-height:50%;
  }

  #projects-dropdown >ul > li {
  display: block;
  height:10em; 
  margin:auto;
  }

  .dropdown-img {
    display:block;
    position: absolute;
    width:128px;
    height: 72px;
    opacity: 1;
    cursor: pointer;
  }
}